#Phrases {
  background-color: antiquewhite;
  width: 100vw;
  height: fit-content;
  padding: 1rem 0rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}
#Phrases h2 {
  font-weight: 1000;
  font-size: 2rem;
  margin: 2rem auto;
}
#Phrases img {
  width: 200px;
  border-radius: 100%;
  background-color: aliceblue;
  -webkit-box-shadow: 1px 1px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 20px -9px rgba(0, 0, 0, 0.75);
}
#contener {
  width: 80%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-flow: row wrap;
  border-top: solid 2px;
  padding: 1rem 0;
}
.phrases {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 255);
}
.phrases b {
  font-size: 1.3rem;
}
cite {
  text-align: justify;
}
