/*Fonts Imports*/
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  font-family: "Lora", serif;
  box-sizing: border-box;
}
body{
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: fit-content;
}
::-webkit-scrollbar-track{
background-color: black;
cursor: pointer;
}
::-webkit-scrollbar-thumb{
  background: #b8912e;
  border-radius: 20rem;
  height: 1px;
}
#loader {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255)
    url(../assets/loader.gif) no-repeat center center;
  background-size: 100%;
  position: fixed;
  z-index: 100;
}
header {
  /*border: solid 1px black;*/
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: transparent;
}
header.scroll{
  background-color: black;
  z-index: 10;
}
header img {
  /*border: solid red 2px;*/
  width: 100px;
  margin: 0;
}
#menu_on{
  display: none;
}
nav {
  /*border: solid red 2px;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0% 10px;
}
nav ul {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0rem 1rem;
}
nav ul li,
nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  list-style: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  display: block;
  transition: .5s;
  position: relative;
}

nav ul li a:hover {
  color: #b8912e;
  border-radius: 1rem;
  border-bottom: rgb(255, 255, 255) 1px solid;
}
span {
  color: white;
  cursor: pointer;
}

#biographyroute {
  width: 100vw;
  color: rgb(255, 255, 255);
  height: 35rem;
  background-image: url(../assets/andree.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: none;
}
#biographyroute div {
  width: 50vw;
}
#biographyroute h1 {
  color: rgb(255, 255, 255);
  font-weight: 1000;
  font-size: 3rem;
  margin: 0%;
}
#biographyroute p {
  margin: 1rem 0;
  text-align: justify;
}
#biographyroute hr {
  height: 0.5rem;
  width: 60%;
  margin: auto;
  background-color: #d7be82;
  border-radius: 1rem;
}
h2 {
  font-weight: 1000;
  font-size: 2rem;
  margin: 0%;
  padding: 2rem 0rem;
  text-align: center;
}

footer{
  width: 100vw;
  height: 2rem;
  padding: 2rem 0rem;
  background-color: #d7be82;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s all;
  /*animation: changeBG 10s infinite alternate linear;*/
}
/*
@keyframes changeBG{
  0%{
    background-color: #D7BE82;
  }
  25%{
    background-color: #7a4519c0;
  }
  50%{
    background-color: #755c1ba4;
  }
  75%{
    background-color: #400406a9;
    color: white;
  }
  100%{
    background-color: #d7be82;
    color: black;
  }
}
*/